body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
p{
	margin: 10px;
}
a{
	text-decoration: none;
}

.my-cart-button{
	margin: 0 20px;
}
.cart-button-label{
	margin-left: 10px;
	}

	.active{
		color: black;
	}

	.view-all{
		font-weight: 600;
	}
	.view-all:hover{
		color: #000;
	}

	.hidden{
		transition: visibility 1s;
	}

	.break{
		display: none;
	}

footer{
	width: 100%;
	background-color: #202020;
	color: #fff;
}

footer .footer-list{
	font-size: 14px;
	width: 200px;
}

footer .footer-list a{
	text-decoration: none;
	color: #b5b5b5;
}

footer .footer-list a:hover{
	color: #fff;
}

footer .footer-list .footer-list-head{
	font-weight: 600;
	font-size: 15px;
}

footer .footer-list img{
	width: 100%;
}



/*Media query 768px*/

@media (max-width: 768px){

	.break{
		display: block;
	}
}